@charset "UTF-8";
@font-face {
  font-family: "Ilisarniq";
  src: url("/fonts/Ilisarniq-Regular.eot");
  src: url("/fonts/Ilisarniq-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Ilisarniq-Regular.woff2") format("woff2"), url("/fonts/Ilisarniq-Regular.woff") format("woff"), url("/fonts/Ilisarniq-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ilisarniq";
  src: url("/fonts/Ilisarniq-Bold.eot");
  src: url("/fonts/Ilisarniq-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Ilisarniq-Bold.woff2") format("woff2"), url("/fonts/Ilisarniq-Bold.woff") format("woff"), url("/fonts/Ilisarniq-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 16px;
}

p, li {
  font-size: 1rem;
}

h3, .tab {
  font-size: 1.125rem;
}

h2, .social {
  font-size: 1.602rem;
}

h1 {
  font-size: 2.281rem;
}

.caption {
  font-size: 0.9rem;
}

p, li, .caption {
  line-height: 1.8;
}

h3, h2, h1 {
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: var(--text-pri);
}

.accent {
  color: var(--text-theme);
}

a {
  color: var(--text-theme);
}
a:hover {
  color: var(--text-sec);
}

@media (min-width: 360px) {
  html {
    font-size: calc(0.4902vw + 14.23529px);
  }
}
@media (min-width: 768px) {
  html {
    font-size: calc(1.04167vw + 10px);
  }
}
@media (min-width: 960px) {
  html {
    font-size: 20px;
  }
}
.section-title {
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-sec);
}
.section-title:before {
  content: "·";
  margin-right: 0.2em;
  font-size: 1.5em;
}
.section-title:after {
  content: "·";
  margin-left: 0.2em;
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 0;
  color: var(--text-sec);
}

input[type=text], textarea {
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid var(--text-dis);
  background-color: var(--background-alt);
  color: var(--text-pri);
}

textarea {
  resize: none;
}

.msgbox {
  min-height: 100px;
}

.formbtn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6em 1em 0.8em 1em;
  margin: 1em 0;
  color: var(--background);
  background-color: var(--text-theme);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.formbtn:hover {
  background-color: var(--button-hover);
}