:root, .theme-light {
  --background: #FAFAFA;
  --background-alt: #F2F2F2;
  --background-trans: rgba(250,250,250,0);
  --color-logo: #8706C3;
  --text-theme: #8706C3;
  --text-pri: #2E2525;
  --text-sec: rgba(0,0,0,.54);
  --text-dis: rgba(0,0,0,.35);
  --text-hl: #D2FFFF;
  --nav-blank: rgba(0,0,0,.54);
  --nav-hover: #8706C3;
  --img-brightness: none;
  --drop-shadow: rgba(0,0,0,.2);
}

.theme-dark {
  --background: #0F111E;
  --background-alt: #181B30;
  --background-trans: rgba(15,17,30,0);
  --color-logo: #F4A6FF;
  --text-theme: #F4A6FF;
  --text-pri: #FAFAFA;
  --text-sec: rgba(255,255,255,.6);
  --text-dis: rgba(255,255,255,.4);
  --text-hl: #8706C3;
  --nav-blank: #FAFAFA;
  --nav-hover: #F4A6FF;
  --img-brightness: brightness(.9);
  --drop-shadow: none;
}
