@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes next-in {
  from {transform: translate(0,0);}
  to {transform: translate(0,-5%);}
}

@keyframes next-out {
  from {transform: translate(0,-5%);}
  to {transform: translate(0,0);}
}