// Fonts

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/Ilisarniq-Regular.eot');
  src: url('/fonts/Ilisarniq-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Ilisarniq-Regular.woff2') format('woff2'),
       url('/fonts/Ilisarniq-Regular.woff') format('woff'),
       url('/fonts/Ilisarniq-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq';
  src: url('/fonts/Ilisarniq-Bold.eot');
  src: url('/fonts/Ilisarniq-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Ilisarniq-Bold.woff2') format('woff2'),
       url('/fonts/Ilisarniq-Bold.woff') format('woff'),
       url('/fonts/Ilisarniq-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin body-font {font-family: 'Ilisarniq', sans-serif; font-kerning: normal; font-weight: 400;}
@mixin display-font {font-family: "Spartan", sans-serif; font-weight: 700;}

// Text sizes

html {font-size: 16px;}
p, li {font-size: 1rem;}
h3, .tab {font-size: 1.125rem;}
h2, .social {font-size: 1.602rem;}
h1 {font-size: 2.281rem;}
.caption {font-size: .9rem;}

p, li, .caption {line-height: 1.8;}
h3, h2, h1 {line-height: 1.5; @include display-font; color: var(--text-pri)}

a {
  color: var(--text-theme);
  &:hover {color: var(--text-sec);}
}

@media (min-width: 360px) {
  html {font-size: calc(0.4902vw + 14.23529px);}
}

@media (min-width: 768px) {
  html {font-size: calc(1.04167vw + 10px);}
}

@media (min-width: 960px) {
  html {font-size: 20px;}
}

.section-title {
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-sec);
  &:before {
    content: "\00B7";
    margin-right: .2em;
    font-size: 1.5em;
  }
  &:after {
    content: "\00B7";
    margin-left: .2em;
    font-size: 1.5em;
  }
}