#intro {

	.col {
		padding-top: 0;
		padding-bottom: 0;
	}

	#intro-title {
		min-height: 220px;
		margin-bottom: 1em;
	}

	#intro-ql {
		h3 {
			color: var(--text-dis);
		}
	}
	
	h1 {
		margin: 0;
		color: var(--text-theme);
		animation: 2s ease-out 0s 1 slideInFromBottom;
	}

	.other-title, .txt-rotate {
		color: var(--text-pri) !important;
	}
	
	h3 {
		margin: 0;
		padding: 0;
		line-height: 1.5;
		animation: 2s ease-out 0s 1 slideInFromBottom;
	}

	a {
		color: var(--text-pri);
		text-decoration: none;
		&:hover {
			color: var(--text-theme);
		}
	}
}

#memoji {
	margin: auto;
	max-width: 200px;
}

@media (max-width: 640px){
	#memoji {display: none;}
}

#work {

	#dis {color: var(--text-dis);}

	.row-lg {
		padding-bottom: 6em;
	}

	.text-box {
		max-width: 500px;
		margin: auto;

		h2 {margin: 0;}

		p {
			color: var(--text-pri);
			line-height: 1.4;
			margin: .5em 0;
		}
		
		.tags {
			text-transform: uppercase;
			color: var(--text-dis);
		}
		
		a {
			cursor: pointer;
			text-decoration: none;
		}
		
		.link {
			margin: 2em 0 0 0;
			@include display-font;
			text-transform: uppercase;
			color: var(--text-theme);
			&:after{
				content:"\A";
				display:inline-block;
				position: relative;
				left: .5em;
				width: .9em;
				height: .9em;
				mask: url("/img/arrow.svg") 0 0/.9em .9em;
				background-color: var(--text-theme);
			}
		}

		.coming {
			text-transform: uppercase;
			color: var(--text-sec);
		}
	}
}

.img-box {margin: auto;}

footer {
	justify-content: space-between;
	align-items: center;
	margin-top: 10vh;
}